.advantages {
  padding: 22px 0 48px;
}

.advantages__wrapper {
  padding: 0 20px;
}

.advantages__title {
  margin-bottom: 42px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: features;
}

.advantages__item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 60px;
  padding-left: 80px;
}

.advantages__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
