.example {
  padding: 25px 20px 40px;
  background-color: #eaeaea;
}

.example__title {
  margin-bottom: 40px;
}

.example__text {
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.example__result-list {
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;
}

.example__spent {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.example__photos {
  margin-top: 15px;
  text-align: center;
}

.example__photos-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.example__result-value {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.example__result-description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.slider__toggles-label {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.slider__toggles {
  margin-top: 15px;
  text-align: center;
}
