.input {
  padding: 13px 15px 14px;
  border: 1px solid #e7e7e7;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &--email {
    padding-right: 40px;
  }

  &--phone {
    padding-right: 60px;
  }
}
