.product-card {
  padding: 11px 20px 14px;
}

.product-card__wrapper {
  margin-bottom: 13px;
}

.product-card__link {
  text-decoration: none;
}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.product-card__description-item {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.products__show-more {
  margin-top: 25px;
  padding: 0 20px 25px;
  border-bottom: 1px solid #ebebeb;
}
