.promo-action {
  padding: 37px 0 35px;
}

.promo-action__wrapper {
  min-height: 289px;
  padding: 187px 61px 43px 58px;
  background-image: url("/source/img/icons/icon_gift.svg"), linear-gradient(to left, fade(@base-color, 85%), fade(@base-color, 85%)), url("/source/img/content/action-image.jpg");
  background-repeat: no-repeat;
  background-position: center 59px, center, center;
  background-size: auto, cover, cover;
  text-align: center;
}

.promo-action__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
