.slider {
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 592px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    margin: -10px 0 0 194px;
  }
}

.slider__image-block {
  display: flex;
  justify-content: center;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 591px;
    height: 511px;
  }
}

.slider__image--before {
  width: 280px;
  height: 232px;
  background-image: url("../img/content/cat-before.png");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: @tablet-width) {
    width: 296px;
    height: 511px;
    margin-left: auto;
    background-image: url("../img/content/cat-before-tablet.png");
  }
}

.slider__image--after {
  display: none;
  width: 243px;
  height: 232px;
  background-image: url("../img/content/cat-after.png");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: @tablet-width) {
    display: block;
    width: 296px;
    height: 511px;
    margin-right: auto;
    background-image: url("../img/content/cat-after-tablet.png");
  }
}

.slider__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0 0;
    padding: 0 67px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.slider__toggle {
  font-family: inherit;
  margin: 0 13px;
  padding: 7px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  border: none;
  background-color: #eaeaea;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 16%);
  }

  &:active {
    border-bottom: 1px solid transparent;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 0 5px;
    padding: 5px 0 0;
    background-color: transparent;
    border-bottom: 1px dotted rgba(0, 0, 0, 16%);
  }
}

.slider__range-scale {
  position: relative;
  width: 83px;
  height: 14px;
  padding: 3px 5px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    width: 423px;
    height: 6px;
    margin: 0 24px;
    border: none;
    border-radius: 6px;
    background-color: #dcdcdc;
  }
}

.slider__range-input {
  display: none;
}

.slider__range-bar {
  width: 50%;
  height: 6px;
  border-radius: 6px;
  background-color: #68b738;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 19%);
  }

  &:active {
    border: 1px solid #68b738;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 20%);
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -14px;
    left: 46.7%;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 16%);
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 8px;
      height: 8px;
      margin: auto;
      border-radius: 50%;
      background-color: #68b738;
    }
  }
}
